---
import MicroFrontends from "../components/MicroFrontends";
import { buildManifest } from "../utils/manifest";

const manifest = await buildManifest();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href={manifest.mfa.css} />
    <link rel="stylesheet" href={manifest.mfb.css} />
    <title>Shell app</title>
  </head>
  <body>
    <main>
      <h1>Shell app</h1>
      <MicroFrontends manifest={manifest}>
    </main>
  </body>
</html>
